{% extends 'layout.html' %}

<!-- ========== -->
<!-- Block body -->
<!-- ========== -->

{% block body %}

<!-- Header -->

{% include 'partials/header.html' %}

<!-- Main -->
<main class="container">
  <div class="title df">
    <h1>Mon profil</h1>
    <a href="/edit-profile" class="button">
      <i class="bi bi-pencil"></i> Modifier mon profil
    </a>
  </div>
  <div class="infos">
    <p><b>Nom : </b>{{ user.surname }}</p>
    <p><b>Prénom : </b>{{ user.first_name }}</p>
    <p><b>Entreprise : </b>{{ user.enterprise }}</p>
    <p><b>Email : </b>{{ user.email }}</p>
  </div>
</main>

<!-- Footer -->

{% include 'partials/footer.html' %}

<!-- Fin du block body -->
{% endblock %}
